/* Content */

.main_section {
    height: auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#equ_table {
    border-collapse: collapse;
    width: 80vw;
}

#equ_table td,
#equ_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#equ_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#equ_table tr:hover {
    background-color: #ddd;
}

#equ_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}