.main_section {
    /* height: auto; */
    width: 80%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    /* align-items: center;
    justify-content: center; */
}

/* Moment Set */

.moment-card {
    /* height: 300px; */
    /* width: 90%; */
    display: grid;
    padding: 0;
    grid-template-columns: auto auto;
    margin: 15px 20px 15px 20px;
    border: #000000 solid;
}

.moment-card img {
    height: 300px;
    border: #000000 solid;
}

.moment-card section {
    margin-right: 5px;
    padding: 15px;
}

.moment-card section h2 {
    font-size: 30px;
    line-height: 40px;
    /* height: 300px; */
    /* justify-content: center; */
}

.moment-card section h3 {
    text-align: end;
    font-size: 25px;
    line-height: 40px;
    /* height: 300px; */
    /* justify-content: center; */
}

.moment-card section p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    /* height: 300px; */
    /* justify-content: center; */
}