.main_section {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
}

/* Moment Set */

.moment-card {
    /* height: 300px; */
    /* width: 90%; */
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px 20px 15px 20px;
    border: #000000 solid;
}

.moment-card li {
    list-style: none;
    padding: 0;
}

.moment-card li img {
    height: 300px;
    border: #000000 solid;
}

.moment-card li section {
    margin-right: 5px;
    padding: 15px;
}

.moment-card li section h2 {
    font-size: 30px;
    line-height: 40px;
    /* height: 300px; */
    /* justify-content: center; */
}

.moment-card li section h3 {
    text-align: end;
    font-size: 25px;
    line-height: 40px;
    /* height: 300px; */
    /* justify-content: center; */
}

.moment-card li section p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 20px;
    /* height: 300px; */
    /* justify-content: center; */
}